<div id="user-popup">
  <div class="user-link"><%= t("welcome") %> <%= link_to_function "#{current_user.name}", "popup()" %></div>
  <div class="dropdown">
    <ul>
      <li><%= link_to t("authentication.profile"), profile_path %></li>
      <li><%= link_to t("authentication.logout"), logout_path %></li>
    </ul>
  </div>
</div>
