<ul>
  <li><%= menu_link t("menu.tickets"), tickets_path  %></li>
  <li><%= menu_link t("menu.new_item"), new_ticket_path  %></li>
  <li><%= menu_link t("menu.projects"), projects_path  %></li>
</ul>
