@import "compass/css3";

$base: #3376D7;

.box {
  @include box-shadow( rgba(0, 0, 0, 0.2) 0 1px 10px);
  @include border-radius(4px);
  border: 1px solid lighten(#cccccc, 10%);
  background-color: lighten(#cccccc, 20%);
  .headline {
    .identifier {
      @include background-image(linear-gradient(color-stops(lighten(black, 40%), lighten(black, 10%))));
      border: 1px solid #cccccc;
      @include border-radius(4px);
      margin-left: 5px;
      min-width: 100px;
      text-align: center;
      font-size: 14pt;
      color: white;
      padding: 4px;
      height: 20px;
      display: inline-block;
    }
  }
}

.box .highlight {
  padding: 5px;
  @include background-image(linear-gradient(color-stops(darken(white, 2%), darken(white, 5%))));
  height: 30px;
}

.box .highlight.top {
  border-bottom: 1px solid #cccccc;
}

.box .highlight.bottom {
  border-top: 1px solid #cccccc;
}

.show .headline {
  @include background-image(linear-gradient(color-stops(lighten($base, 50%), lighten($base, 40%))));
  height: 30px;
}

.show .title {
  font-size: 14pt;
}

.with-author {
  padding-left: 60px;
  margin-bottom: 20px;
  margin: auto;
  .avatar {
    position: relative;
    float: left;
    margin-left: -60px;
  }
}

.image {
  @include box-shadow( rgba(0, 0, 0, 0.2) 0 1px 10px);
  background-color: darken(#eeeeee, 10%);
  border: 1px solid #cccccc;
  width: 48px;
  height: 48px;
}

.details {
  padding: 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #cccccc;
}
