@import "compass/css3";

$base: #3376D7;

#tickets {
  width: 100%;
  .ticket {
    @include box-shadow( rgba(0, 0, 0, 0.2) 0 1px 10px);
    border: 1px solid lighten(#cccccc, 10%);
    background-color: lighten(#cccccc, 20%);
    margin-bottom: 10px;
    padding: 5px;
  }
}

.ticket-wrapper {
  width: 800px;
  margin: auto;
}

.highlight .description {
  padding: 5px 5px;
  font-weight: bold;
}

.body {
  padding: 10px;
}
