#tickets {
  width: 600px;
  .ticket {
    border: 1px solid lighten(#cccccc, 10%);
    background-color: lighten(#cccccc, 20%);
    margin-bottom: 5px;
    padding: 5px;

    .title {

    }

    .description {
      color: #cccccc;
      p {
        display: inline
      }
    }
  }
}
