#error_explanation {
  color: red;
  margin-bottom: 10px;
  h2 {
    color: darken(red, 10%);
  }

  ul {
    margin-left: 25px;
  }
}

.field_with_errors {
  input[type="text"], select, textarea {
    border: 1px solid darken(red, 10%);
    background-color: lighten(red, 48%);
  }

  label.message {
    color: red;
    margin-left: 5px;
  }
}
